.button
  width: 180px
  height: 51px
  border-radius: 8px
  background-color: white
  border: none
  background-color: $color-main
  font-family: Roboto
  font-size: 15px
  font-weight: 500
  letter-spacing: 0.15px
  cursor: pointer
  color: $color-text
  transition: .25s ease-in-out
  &:hover
    background-color: #333333
    color: $color-main
    background-image: none
.section-title
  font-family: "PT Serif"
  font-size: 50px
  font-weight: 400
.section
  color: $color-text
