.form
  z-index: 80
  user-select: none
  margin-left: -15px
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2)
  border-radius: 40px
  background-color: #fcfcfc
  width: 800px
  height: 410px
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  padding: 30px
  position: relative
  top: -30px
  left: 20px
  &-header
    display: flex
    height: 43%
    width: 100%
    position: relative
    &-prices
      width: 45%
      &__old
        margin-left: 30px
        color: rgba(51, 51, 51, 0.65)
        font-family: Montserrat
        font-size: 40px
        line-height: 40px
        font-weight: 400
        position: relative
        display: block
        width: 38%
        &::before
          content: ''
          background-color: $color-text
          height: 1px
          width: 115%
          position: absolute
          top: 17px
          left: -16%
          
      &__new
        font-family: Montserrat
        font-size: 65px
        line-height: 65px
        font-weight: 700
        margin-left: 60px
        background-image: linear-gradient(90deg, #ff3242 5%, rgba(255, 255, 255, 0) 115%)
        background-clip: text
        color: transparent
    &::before
      content: ''
      background-color: rgba(51, 51, 51, 0.3)
      height: 1px
      width: 108%
      position: absolute
      top: 96%
      left: -30px
  &-footer
    height: 57%
    width: 100%
    &__header
      font-family: Montserrat
      font-size: 25px
      font-weight: 400
      letter-spacing: 0.25px
      line-height: 35px
      margin-top: 10px
      margin-bottom: 10px
      
    &__text
      font-family: Montserrat
      font-size: 16px
      font-weight: 400
      letter-spacing: 0.16px
      line-height: 20px
      margin-bottom: 20px
    &__form
      width: 100%
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap


.form
  input[type="text"],[type="tel"]
    width: 255px
    height: 51px
    border-radius: 8px
    border: 1px solid #333333
    font-family: Montserrat
    font-size: 16px
    font-weight: 400
    letter-spacing: 0.2px
    line-height: 35px
    padding: 20px 15px

  &__name
  &__tel
  &__submit 
  &__policy
    margin-top: 30px
    width: 100%
    .yellow
      color: $color-text
      text-decoration: underline
      cursor: pointer
      transition: .1s ease-in-out
      &:hover
        color: $color-main
    label
      display: inline-block 
      font-family: Roboto
      font-size: 14px
      font-weight: 400
      letter-spacing: 0.14px
      line-height: 28px
      cursor: pointer
      height: 17px
      vertical-align: middle
    label::before 
      margin-top: -5px
      margin-right: 10px
      content: ''
      display: inline-block
      vertical-align: middle
      width: 25px
      height: 25px
      border-radius: 3px
      border: 1px solid #333333
    input[type="checkbox"]:checked + label::before 
      content: ''
      background-size: cover
      background-image: url(../img/check-solid.png)
      background-repeat: no-repeat
      background-position: center
  &__checkbox
    display: none
  

.eTimer
  display: flex!important
  justify-content: center!important
  align-items: center !important
  width: 410px
  height: 123px
  border-radius: 15px
  border: 1px solid #ff3242
  .etNumber
    border-width: 1px!important
    text-align: center!important
    font-family: Montserrat !important
    font-size: 36px !important
    font-weight: 500 !important
    width: 36px!important
    line-height: 46px !important
    color: $color-text !important
    border-radius: 7px !important
  .etSep
    padding: 0 0 40px 0 !important
  .etSign
    padding-top: 10px !important
    font-family: Montserrat!important
    font-size: 16px!important
    font-weight: 500!important
    letter-spacing: 0.16px!important
    line-height: 20px!important

#wrap
  height: 366px
