.header
  position: fixed
  height: 70px
  width: 100vw
  padding: 6px 0px
  background-color: $color-main
  z-index: 100
  min-width: 1210px
  display: flex
  .wrapper
    display: flex
    justify-content: space-around
    padding: 0px 15px
  &-logo
    display: block
    img
      width: 140px
      height: 58px

  &-links
    display: flex
    justify-content: space-around  
    width: 63%
    padding: 0 85px
  &-link
    font-family: Roboto
    font-size: 18px
    font-weight: 400
    text-decoration: none
    position: relative
    display: flex
    align-items: center
    color: $color-text
    &:visited
      color: $color-text
    &::before 
      content: ''
      bottom: 15px  
      left: 0
      position: absolute
      width: 100%
      height: 2px
      background-color: #0d0d0d
      transition: 0.2s
      transform: scaleX(0)
    &:hover::before 
      transform: scaleX(1)

  &-button
    height: 45px
    border-radius: 3px
    border: 1px solid #333333
    background-color: transparent
    transition: .25s ease-in-out
    background-image: none
    &:hover
      background-color: #333333
      color: $color-main
      background-image: none
    &-wrapper
      display: flex
      align-items: center
