.howto
  margin-top: 156px
  padding-top: 30px
  .wrapper
    overflow-x: hidden
    padding-top: 70px
  &-title 
    text-align: center
  &-main
    padding-top: 30px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 200px
    &__item
      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: center
      height: 650px
      width: 30%
      position: relative
      &::after
        content: ''
        position: absolute
        top: 117px
        left: 0
        height: 1px
        background-color: lighten($color-text, 30)
        width: 120%
        z-index: 1
  .item
    &__title
      font-family: "PT Serif"
      font-size: 35px
      font-weight: 400
      line-height: 25px
    &__point
      img
        z-index: 2
        width: 20px
        height: 20px
    &__img
      img
        width: 300px
        border: 20px solid rgba(255, 223, 0, 0.4)
        border-radius: 50%
    &__text
      font-family: Montserrat
      font-size: 20px
      font-weight: 400
      line-height: 25px
      max-width: 308px
    
  .second
    max-width: 258px
  .third
    max-width: 208px
