.price
  padding-top: 70px
  margin-top: 166px
  background-clip: content-box
  width: 100%
  height: 890px
  position: relative
  &::after
    content: ''
    display: block
    position: absolute
    top: 70px
    left: 0
    width: 100%
    height: 100%
    z-index: -1
    opacity: 0.4
    background: url(../img/bg/bg_3-obr.jpg) top center / cover no-repeat fixed
  .wrapper
    z-index: 4
    position: relative
  &-title
    padding-top: 50px
    margin-bottom: 50px
    text-align: center
  &-main
    padding-top: 60px
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    margin-bottom: -300px
    min-width: 0
    &__item
      background-color: #fff
      width: 350px
      height: 580px
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1)
      border-radius: 8px
      display: flex
      flex-direction: column
      justify-content: center
      align-items: space-between
      position: relative
      margin-bottom: 70px
      border: 2px solid transparent
      transition: .2s ease-in-out
      &:hover
        border: 2px solid #ff3242
  .virus
    position: relative
    z-index: 1
    &-4
      top: -70px
      left: -670px  
      width: 459px
      img
        width: 459px
    &-5
      right: -650px
      top: -1040px
      img
        width: 459px
  .item
    &__title
      font-family: Roboto
      font-size: 30px
      font-weight: 500
      letter-spacing: 0.3px
      text-align: center
      margin-bottom: 32px
    &__volume
      font-family: Roboto
      font-size: 20px
      font-weight: 500
      letter-spacing: 0.2px
      text-align: center
      margin-bottom: 25px
    &__hot
      margin-left: 50px
      position: absolute
      top: 120px
    &__img
      display: flex
      justify-content: center
      margin-bottom: 25px
      img
        height: 237px
    &__gel
      margin-top: -70px
      margin-bottom: -20px
      img
        height: 350px
    &__price
      font-family: Montserrat
      font-size: 40px
      font-weight: 400
      line-height: 35px
      text-align: center
      margin-bottom: 35px
      strong
        background-image: linear-gradient(90deg, #ff3242 5%, rgba(255, 255, 255, 0) 115%)
        background-clip: text
        color: transparent
      &_old
        margin-top: -35px
        color: rgba(51, 51, 51, 0.65)
        font-family: Montserrat
        font-size: 30px
        font-weight: 400
        line-height: 35px
        margin-left: 50px
        width: 100px
        position: relative
        &::before
          content: ''
          background-color: $color-text
          height: 1px
          width: 100%
          position: absolute
          top: 17px
          left: -11%
    &__button
      margin: 0 auto
      background-color: $color-bred
      color: white
      width: 175px
      font-family: Roboto
      font-size: 18px
      font-weight: 500
      letter-spacing: 0.18px
  
