.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 180px;
  height: 51px;
  border-radius: 8px;
  background-color: white;
  border: none;
  background-color: #ffdf00;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.15px;
  cursor: pointer;
  color: #333333;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.button:hover {
  background-color: #333333;
  color: #ffdf00;
  background-image: none;
}

.section-title {
  font-family: "PT Serif";
  font-size: 50px;
  font-weight: 400;
}

.section {
  color: #333333;
}

.wrapper {
  width: 1210px;
  margin: auto;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  position: fixed;
  height: 70px;
  width: 100vw;
  padding: 6px 0px;
  background-color: #ffdf00;
  z-index: 100;
  min-width: 1210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0px 15px;
}

.header-logo {
  display: block;
}

.header-logo img {
  width: 140px;
  height: 58px;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 63%;
  padding: 0 85px;
}

.header-link {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333333;
}

.header-link:visited {
  color: #333333;
}

.header-link::before {
  content: '';
  bottom: 15px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0d0d0d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.header-link:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.header-button {
  height: 45px;
  border-radius: 3px;
  border: 1px solid #333333;
  background-color: transparent;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  background-image: none;
}

.header-button:hover {
  background-color: #333333;
  color: #ffdf00;
  background-image: none;
}

.header-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main {
  padding-top: 70px;
  height: 840px;
  width: 100%;
  overflow: hidden;
  margin-bottom: -50px;
}

.main::after {
  content: '';
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 840px;
  background: url("../img/bg/bg_1.jpg") top -340px left/cover no-repeat fixed;
  background-color: rbga(255, 255, 255, 0.3);
  z-index: -1;
  opacity: 0.18;
}

.main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 840px;
}

.main-leftside {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
}

.main-leftside__header {
  color: #333333;
  font-family: "PT Serif";
  font-size: 50px;
  font-weight: 400;
  width: 420px;
  text-align: left;
  margin-bottom: 30px;
}

.main-leftside__text {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  width: 420px;
  text-align: left;
  margin-bottom: 20px;
}

.main-leftside__small {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  width: 420px;
  text-align: left;
  padding-left: 15px;
}

.main-leftside__small span {
  color: rgba(255, 50, 66, 0.6);
}

.main-rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  position: relative;
}

.main-rightside-lists {
  height: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-rightside__list {
  color: #333333;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 5;
  position: relative;
  right: -77px;
  top: -25px;
  width: 330px;
}

.main-rightside__list img {
  margin-right: 20px;
}

.main-rightside__list1 {
  right: -156px;
}

.main-rightside__list2 {
  top: -50px;
}

.main-rightside__list3 {
  top: -82px;
  right: -90px;
}

.main-rightside__septic {
  width: 312px;
  position: relative;
  z-index: 10;
  top: 10px;
  right: -70px;
}

.main-rightside__gost {
  position: relative;
  left: 80%;
  top: -60px;
  z-index: 11;
}

.main-rightside__d-circles {
  z-index: 2;
  position: absolute;
  left: 75px;
  top: -80px;
}

.main-rightside__ellipse {
  z-index: 3;
  position: absolute;
  left: 350px;
  top: 70px;
  width: 670px;
}

.yellow {
  color: #ffdf00;
}

.form {
  z-index: 80;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: -15px;
  -webkit-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  background-color: #fcfcfc;
  width: 800px;
  height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px;
  position: relative;
  top: -30px;
  left: 20px;
}

.form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 43%;
  width: 100%;
  position: relative;
}

.form-header-prices {
  width: 45%;
}

.form-header-prices__old {
  margin-left: 30px;
  color: rgba(51, 51, 51, 0.65);
  font-family: Montserrat;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  position: relative;
  display: block;
  width: 38%;
}

.form-header-prices__old::before {
  content: '';
  background-color: #333333;
  height: 1px;
  width: 115%;
  position: absolute;
  top: 17px;
  left: -16%;
}

.form-header-prices__new {
  font-family: Montserrat;
  font-size: 65px;
  line-height: 65px;
  font-weight: 700;
  margin-left: 60px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #ff3242), color-stop(115%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, #ff3242 5%, rgba(255, 255, 255, 0) 115%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.form-header::before {
  content: '';
  background-color: rgba(51, 51, 51, 0.3);
  height: 1px;
  width: 108%;
  position: absolute;
  top: 96%;
  left: -30px;
}

.form-footer {
  height: 57%;
  width: 100%;
}

.form-footer__header {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-footer__text {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.form-footer__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form input[type="text"],
.form [type="tel"] {
  width: 255px;
  height: 51px;
  border-radius: 8px;
  border: 1px solid #333333;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 35px;
  padding: 20px 15px;
}

.form__policy {
  margin-top: 30px;
  width: 100%;
}

.form__policy .yellow {
  color: #333333;
  text-decoration: underline;
  cursor: pointer;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.form__policy .yellow:hover {
  color: #ffdf00;
}

.form__policy label {
  display: inline-block;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  line-height: 28px;
  cursor: pointer;
  height: 17px;
  vertical-align: middle;
}

.form__policy label::before {
  margin-top: -5px;
  margin-right: 10px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #333333;
}

.form__policy input[type="checkbox"]:checked + label::before {
  content: '';
  background-size: cover;
  background-image: url("../img/check-solid.png");
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox {
  display: none;
}

.eTimer {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  width: 410px;
  height: 123px;
  border-radius: 15px;
  border: 1px solid #ff3242;
}

.eTimer .etNumber {
  border-width: 1px !important;
  text-align: center !important;
  font-family: Montserrat !important;
  font-size: 36px !important;
  font-weight: 500 !important;
  width: 36px !important;
  line-height: 46px !important;
  color: #333333 !important;
  border-radius: 7px !important;
}

.eTimer .etSep {
  padding: 0 0 40px 0 !important;
}

.eTimer .etSign {
  padding-top: 10px !important;
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  letter-spacing: 0.16px !important;
  line-height: 20px !important;
}

#wrap {
  height: 366px;
}

.advantages {
  padding-top: 10px;
  margin-top: -10px;
  background-clip: content-box;
  width: 100%;
  height: 960px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantages::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -3;
  width: 100%;
  height: 100%;
  background: url("../img/bg/bg_2.jpg") center/cover no-repeat fixed;
  opacity: 0.25;
}

.advantages:hover .advantages-main-advantage:nth-child(1)::after {
  opacity: 0.9;
}

.advantages:hover .advantages-main-advantage:nth-child(2)::after {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.advantages:hover .advantages-main-advantage:nth-child(3)::after {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.advantages:hover .advantages-main-advantage:nth-child(4)::after {
  opacity: 0.8;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.advantages-title {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.advantages-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  padding-top: 90px;
  overflow-y: hidden;
}

.advantages-main-advantage {
  position: relative;
  width: 500px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: -30px;
}

.advantages-main-advantage::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 90%;
  opacity: 0.5;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.advantages-main-advantage:hover::after {
  opacity: 0.8;
}

.advantages-main-advantage__title {
  font-family: "PT Serif";
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 50px;
  text-align: left;
  width: 370px;
}

.advantages-main-advantage__number {
  position: relative;
  font-family: "PT Serif";
  font-size: 70px;
  font-weight: 400;
  top: -65px;
  left: -380px;
  margin-bottom: -92px;
}

.advantages-main-advantage__number::before {
  content: '';
  display: block;
  position: absolute;
  height: 5px;
  background-color: #ffdf00;
  width: 135%;
  top: 53%;
  left: -20px;
  z-index: -1;
}

.advantages-main-advantage__text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  max-width: 367px;
  margin-left: -10px;
}

.advantages-main-advantage:nth-child(1)::after {
  background: url("../img/ellipses/Ellipse_2.png") center/contain no-repeat;
  left: 40px;
  top: -35px;
}

.advantages-main-advantage:nth-child(2)::after {
  background: url("../img/ellipses/Ellipse_3-upd.png") center/contain no-repeat;
  top: -50px;
  left: 10px;
  height: 85%;
  opacity: 0.6;
}

.advantages-main-advantage:nth-child(2):hover::after {
  opacity: 1;
}

.advantages-main-advantage:nth-child(3)::after {
  background: url("../img/ellipses/Ellipse_4-upd.png") center/contain no-repeat;
  top: -35px;
  left: 70px;
  height: 85%;
  opacity: 0.6;
}

.advantages-main-advantage:nth-child(3):hover::after {
  opacity: 1;
}

.advantages-main-advantage:nth-child(4)::after {
  background: url("../img/ellipses/Ellipse_5.png") center/contain no-repeat;
  top: -55px;
  left: 20px;
  height: 85%;
}

.advantages .wrapper {
  height: 95%;
}

.usage {
  margin: 0 30px;
  border-radius: 10px;
  border-top: 100px solid transparent;
  background-clip: padding-box;
  height: 550px;
  background-color: #333333;
  color: white;
  margin-top: 151px;
  position: relative;
}

.usage:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  border-radius: 10px;
  border-top: 50px solid #333333;
}

.usage-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  line-height: 180px;
  margin-top: -10px;
}

.usage-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 30px;
}

.usage-main__list {
  width: 22%;
  padding-left: 40px;
  margin-bottom: 70px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  position: relative;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.usage-main__list::before {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  width: 25px;
  background-color: #ffdf00;
  top: 50%;
  left: 0;
  z-index: 2;
}

.usage .virus {
  position: relative;
  top: 100%;
}

.usage .virus-1 {
  top: -730px;
  left: 1000px;
  z-index: -1;
}

.usage .virus-1 img {
  width: 400px;
}

.usage .virus-2 {
  top: -270px;
  left: -900px;
  opacity: 0.5;
}

.usage .virus-2 img {
  width: 230px;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.usage .virus-3 {
  top: -240px;
  left: -1170px;
}

.usage .virus-3 img {
  width: 461px;
}

.price {
  padding-top: 70px;
  margin-top: 166px;
  background-clip: content-box;
  width: 100%;
  height: 860px;
  position: relative;
}

.price::after {
  content: '';
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  background: url("../img/bg/bg_3-obr.jpg") top center/cover no-repeat fixed;
}

.price .wrapper {
  z-index: 4;
}

.price-title {
  padding-top: 60px;
  text-align: center;
}

.price-main {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: -300px;
}

.price-main__item {
  background-color: #fff;
  width: 350px;
  height: 580px;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  position: relative;
  margin-bottom: 70px;
  border: 2px solid transparent;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.price-main__item:hover {
  border: 2px solid #ff3242;
}

.price .virus {
  position: relative;
  z-index: 1;
}

.price .virus-4 {
  top: -70px;
  left: -670px;
}

.price .virus-4 img {
  width: 459px;
}

.price .virus-5 {
  right: -650px;
  top: -1040px;
}

.price .virus-5 img {
  width: 459px;
}

.price .item__title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  margin-bottom: 32px;
}

.price .item__volume {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 25px;
}

.price .item__hot {
  margin-left: 50px;
  position: absolute;
  top: 120px;
}

.price .item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 25px;
}

.price .item__img img {
  height: 237px;
}

.price .item__price {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  margin-bottom: 35px;
}

.price .item__price strong {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #ff3242), color-stop(115%, rgba(255, 255, 255, 0)));
  background-image: linear-gradient(90deg, #ff3242 5%, rgba(255, 255, 255, 0) 115%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.price .item__price_old {
  margin-top: -35px;
  color: rgba(51, 51, 51, 0.65);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  margin-left: 50px;
  width: 100px;
  position: relative;
}

.price .item__price_old::before {
  content: '';
  background-color: #333333;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 17px;
  left: -11%;
}

.price .item__button {
  margin: 0 auto;
}

.howto {
  z-index: 5;
  margin-top: 156px;
  padding-top: 30px;
}

.howto .wrapper {
  overflow-x: hidden;
  padding-top: 70px;
}

.howto-title {
  text-align: center;
}

.howto-main {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 200px;
}

.howto-main__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 650px;
  width: 30%;
  position: relative;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.howto-main__item::after {
  content: '';
  position: absolute;
  top: 117px;
  left: -9%;
  height: 1px;
  background-color: gray;
  width: 117%;
  z-index: 1;
}

.howto .item__title {
  font-family: "PT Serif";
  font-size: 35px;
  font-weight: 400;
  line-height: 25px;
}

.howto .item__point img {
  z-index: 2;
  width: 20px;
  height: 20px;
}

.howto .item__img img {
  width: 300px;
  opacity: 1;
  border: 17.5px solid rgba(255, 223, 0, 0.7);
  border-radius: 50%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.howto .item__text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  max-width: 308px;
}

.howto .second {
  max-width: 258px;
}

.howto .third {
  max-width: 208px;
}

.small-adv {
  width: 100%;
  height: 800px;
  padding: 0 30px;
  position: relative;
  background-clip: content-box;
  padding-top: 85px;
}

.small-adv::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 30px;
  width: 97%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
  border-radius: 20px;
  background: url("../img/bg/bg_4-obr.jpg") top center/cover no-repeat fixed;
}

.small-adv-main {
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

.small-adv-main-circles {
  top: -300px;
  left: -100px;
  position: absolute;
}

.small-adv-main-lists {
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.small-adv-main-lists__list {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  max-width: 440px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.small-adv-main-lists__list img {
  z-index: 2;
  position: absolute;
  top: 50% -25px;
  left: -15%;
}

.small-adv .small-adv-main-lists:nth-child(1) .small-adv-main-lists__list:nth-child(1) {
  left: 85px;
}

.small-adv .small-adv-main-lists:nth-child(1) .small-adv-main-lists__list:nth-child(2) {
  left: 40px;
}

.small-adv .small-adv-main-lists:nth-child(1) .small-adv-main-lists__list:nth-child(3) {
  left: 30px;
}

.small-adv .small-adv-main-lists:nth-child(3) .small-adv-main-lists__list:nth-child(1) {
  left: 103px;
}

.small-adv .small-adv-main-lists:nth-child(3) .small-adv-main-lists__list:nth-child(2) {
  left: 140px;
}

.small-adv .small-adv-main-lists:nth-child(3) .small-adv-main-lists__list:nth-child(3) {
  left: 153px;
}

.form-2 {
  position: relative;
  top: -310px;
  width: 1214px;
  height: 390px;
}

.form-2-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.form-2-header::before {
  content: '';
  background-color: rgba(51, 51, 51, 0.3);
  height: 1px;
  width: 105.3%;
  position: absolute;
  top: 104%;
}

.form-2-header-text {
  width: 50%;
  padding-left: 70px;
}

.form-2-header-text__header {
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 35px;
  margin: 0;
  margin-bottom: 13px;
}

.form-2-header-text__text {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 30px;
}

.form-2-header-prices {
  width: 35%;
  padding-left: 20px;
  padding-top: 10px;
}

.form-2-header-prices__old {
  width: 120px;
  position: relative;
  left: -10px;
}

.form-2-header-prices__old::before {
  width: 100%;
}

.form-2-header-prices__new {
  font-family: Montserrat;
  font-weight: 700;
  line-height: 35px;
  position: relative;
  top: 20px;
  left: -20px;
}

.form-2 .eTimer {
  border: 1px solid #ffdf00 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 50%;
  margin-right: 20px;
}

.form-2 .eTimer .etNumber {
  background-color: rgba(255, 223, 0, 0.4) !important;
}

.form-2-footer {
  padding-top: 50px;
}

.form-2-footer__form {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 659px;
  padding-top: 10px;
}

.form-2 .form__name {
  width: 210px !important;
}

.form-2 .form__tel {
  width: 210px;
}

.form-2 .form__policy {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.15px;
}

#wrap-2 {
  height: 100px;
}

.certificates {
  margin-top: 80px;
  width: 100%;
  height: 800px;
  background-color: #eeeeee;
}

.certificates-title {
  padding-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.certificates-main {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.certificates-main__certificate {
  position: relative;
}

.certificates-main__certificate img:nth-child(1) {
  width: 375px;
  border: 3px solid rgba(51, 51, 51, 0.65);
}

.certificates-main__certificate img:nth-child(2) {
  position: absolute;
  z-index: 1;
  top: 90%;
  left: -2%;
}

.footer {
  width: 100%;
  height: 208px;
  background-color: #333333;
}

.footer-header {
  height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  padding-left: 150px;
}

.footer-header::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: #eeeeee;
  top: 100%;
  left: -30%;
  width: 100vw;
}

.footer-header p {
  color: #cccccc;
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: 400;
}

.footer-footer {
  height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5px;
}

.footer-footer a {
  color: #cbcbcb;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 15px;
}

.footer-footer a:visited {
  color: #cbcbcb;
  text-decoration: none;
}

.footer .yellow {
  color: #ffdf00;
  font-family: "PT Serif";
  font-size: 20px;
  font-weight: 400;
}